body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar,
.container-fluid {
    background-color: var(--container-fluid-bg);
    font-size: 20px;
}

.navbar-nav a:hover {
    color: #fff !important;
    background: linear-gradient(0, #2ecfd4, #1bffff);
    border-radius: 11px;
    padding-left: 10px;
    padding-right: 10px;

}

.nav-item a {
    color: #fff;
    font-weight: 500;
}

.navbar {
    background-color: rgb(135, 90, 146);
    height: 115px;
}

.dropdown-item,
a {
    background-color: #141cc4;
    padding: 10px 0;
    font-size: 20px;
}

.collapse .nav-item {
    margin-left: 18px;

}

.navbar-nav .nav-link {
    font-size: 17px;
    margin-left: 12px;
}

.container-fluid {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 50px;
}

nav .navbar {
    height: 60%;
}

/* this is the company logo */
.navbar img {
    padding-bottom: 25px;
    margin-left: 28px;
}

.container-fluid h1 {
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-right: 12%;
    font-size: 22px;
    color: #fff;
    font-size: 30px;

}

.dropdown-menu .dropdown-item {
    background-color: rgb(211, 28, 28);
    font-size: 15px;
}

.navbar-nav {
    margin-left: 9em;
}

a:hover {
    transition: 0.5s;
    color: #333;
    background-color: #e4eded;
}

#background-img {
    background-image: url('/UI/images/background.jpg');
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#background-img h1 {
    text-align: center;
    color: #fff;
    font-size: 44px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #3395d6;
}

#background-img p {
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(135, 90, 146);
    font-weight: bold;
    text-align: center;

}

.services-list {
    background-color: lightgrey;
}

.services-list h3 {
    text-align: center;
    background-color: grey;
}



.container-b {
    background-color: lightgrey;
    padding-bottom: 20px;
    background-image: url('/UI/images/about.jpg');

}

#section-about h1 {
    background-color: #3395d6;

}

#showcase-p {
    background-image: url('/UI/images/delivery-man.jpg');
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Style for login form */

@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Noto+Sans|Open+Sans:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    border-radius: 5px;
    box-sizing: border-box;
}

.container-k {
    position: relative;
    width: 400px;
    background: white;
    padding: 60px 40px;
    margin-left: 33%;
}

header {
    font-size: 40px;
    margin-bottom: 60px;
    font-family: 'Montserrat', sans-serif;
}

.input-field,
form .button {
    margin: 25px 0;
    position: relative;
    height: 50px;
    width: 100%;
}

.input-field input {
    height: 100%;
    width: 100%;
    border: 1px solid silver;
    padding-left: 15px;
    outline: none;
    font-size: 19px;
    transition: .4s;
}

input:focus {
    border: 1px solid #1DA1F2;
}

.input-field label,
span.show {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.input-field label {
    left: 15px;
    pointer-events: none;
    color: grey;
    font-size: 18px;
    transition: .4s;
}

span.show {
    right: 20px;
    color: #111;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    visibility: hidden;
    font-family: 'Open Sans', sans-serif;
}

input:valid~span.show {
    visibility: visible;
}

input:focus~label,
input:valid~label {
    transform: translateY(-33px);
    background: white;
    font-size: 16px;
    color: #1DA1F2;
}

form .button {
    margin-top: 30px;
    overflow: hidden;
    z-index: 111;
}

.button .inner {
    position: absolute;
    height: 100%;
    width: 300%;
    left: -100%;
    z-index: -1;
    transition: all .4s;
    background: -webkit-linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff);
}

.button:hover .inner {
    left: 0;
}

.button button {
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    outline: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.container .auth {
    margin: 35px 0 20px 0;
    font-size: 19px;
    color: grey;
}

.links {
    display: flex;
    cursor: pointer;
}

.facebook,
.google {
    height: 40px;
    width: 100%;
    border: 1px solid silver;
    border-radius: 3px;
    margin: 0 10px;
    transition: .4s;
}

.facebook:hover {
    border: 1px solid #4267B2;
}

.google:hover {
    border: 1px solid #dd4b39;
}

.facebook i,
.facebook span {
    color: #4267B2;
    padding-left: 78%;
}

.google i,
.google span {
    color: #dd4b39;
    padding-left: 90%;
}

.links i {
    font-size: 23px;
    line-height: 40px;
    margin-left: -90px;
}

.links span {
    position: absolute;
    font-size: 17px;
    font-weight: bold;
    padding-left: 8px;
    font-family: 'Open Sans', sans-serif;
}

.signup {
    margin-top: 50px;
    font-family: 'Noto Sans', sans-serif;
}

.signup a {
    color: #3498db;
    text-decoration: none;
}

.signup a:hover {
    text-decoration: underline;
}

.make-del-btn {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}


.footer {
    background-color: #787bc4;
    color: white;
    height: 140px;
    margin-bottom: 0px;
}

.footer a {
    text-decoration: none;
    background-color: #787bc4;
    color: white;
}